HELP.md
target
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/app.log
/raw.log
/transaction.log
/*.log
*.log
.mvn

.idea
core/target/**
backoffice/target/**
gateway/target/**
settlement/target/**
referral/target/**
/.idea/

core/core.iml
.idea/**

core.iml
